/* App.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../images/Pozadina.jpg");
  background-size: cover;
}

.hero-content {
  text-align: center;
  font-family: Roboto;
  border-radius: 0.5rem;
  padding: 1.5rem;
  max-width: 24rem;
  background-color: #ffffff;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.45);
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.font-bold {
  font-weight: 700;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.grid {
  display: grid;
}

.btn {
  margin: 0.5rem;
  font-family: Roboto;
  border-radius: 200px;
}

.btn-primary {
  background-color: #1a202c;
  color: #fff;
}

.divider {
  border-top: 1px solid #e2e8f0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 9999;
  overflow: auto;
}

.modal-open {
  display: block;
}

.modal-box {
  margin: 2.5em auto;
  background: #000;
  border-radius: 0.5em;
  width: 40em;
  max-width: 90vw;
  padding: 1em;
  color: #ffffff;
}

.font-bold {
  font-weight: bold;
}

.text-2xl {
  font-size: 1.5rem;
}

.m-2 {
  margin: 0.5rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.grid {
  display: grid;
}

.btn {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #00aba2;
  color: #fff;
}

.btn-warning {
  background-color: #d69e2e;
}

.border-1 {
  border-width: 1px;
}

.border-teal-800 {
  border-color: #2c7a7b;
}

.modal-action {
  display: grid;
  margin-top: 1rem;
}

.divider {
  border-top: 1px solid #e2e8f0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.input-bordered {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem;
  color: inherit;
  width: 95%;
  height: 100%;
  font-family: Roboto;
  font-weight: inherit;
  border: none;
  border-radius: 0.2rem;
  color: #000000;
}
